ip prefix-list filter-DC1-out seq 5 permit 10.55.0.0/26
ip prefix-list filter-DC1-out seq 10 permit 10.55.0.64/26
ip prefix-list filter-DC1-out seq 15 permit 10.55.0.128/26

crypto ikev2 proposal az-PROPOSAL 
 encryption aes-cbc-256 aes-cbc-128 3des
 integrity sha1
 group 2
!
crypto ikev2 policy az-POLICY 
 proposal az-PROPOSAL
!
crypto ikev2 keyring key-peer1
 peer azvpn1
  address "Instance0"
  pre-shared-key Msft123Msft123
!
crypto ikev2 keyring key-peer2
 peer azvpn2
  address "Instance1"
  pre-shared-key Msft123Msft123
!
crypto ikev2 profile az-PROFILE1
 match address local interface GigabitEthernet1
 match identity remote address "Instance0" 255.255.255.255 
 authentication remote pre-share
 authentication local pre-share
 keyring local key-peer1
!
crypto ikev2 profile az-PROFILE2
 match address local interface GigabitEthernet1
 match identity remote address "Instance1" 255.255.255.255 
 authentication remote pre-share
 authentication local pre-share
 keyring local key-peer2
!
crypto ipsec transform-set az-IPSEC-PROPOSAL-SET esp-aes 256 esp-sha-hmac 
 mode tunnel
!
crypto ipsec profile az-VTI1
 set transform-set az-IPSEC-PROPOSAL-SET 
 set ikev2-profile az-PROFILE1
!
crypto ipsec profile az-VTI2
 set transform-set az-IPSEC-PROPOSAL-SET 
 set ikev2-profile az-PROFILE2
!
interface Loopback0
 ip address 172.16.0.4 255.255.255.255
!
interface Tunnel0
 ip address 172.16.0.5 255.255.255.255
 ip tcp adjust-mss 1350
 tunnel source GigabitEthernet1
 tunnel mode ipsec ipv4
 tunnel destination "Instance0"
 tunnel protection ipsec profile az-VTI1
!
interface Tunnel1
 ip address 172.16.0.6 255.255.255.255
 ip tcp adjust-mss 1350
 tunnel source GigabitEthernet1
 tunnel mode ipsec ipv4
 tunnel destination "Instance1"
 tunnel protection ipsec profile az-VTI2
!
router bgp 65002
 bgp router-id interface Loopback0
 bgp log-neighbor-changes
 neighbor 192.168.1.12 remote-as 65515
 neighbor 192.168.1.12 ebgp-multihop 5
 neighbor 192.168.1.12 update-source Loopback0
 neighbor 192.168.1.13 remote-as 65515
 neighbor 192.168.1.13 ebgp-multihop 5
 neighbor 192.168.1.13 update-source Loopback0
 !
 address-family ipv4
  network 10.55.0.0/26 mask 255.255.255.192
  network 10.55.0.64/26 mask 255.255.255.192
  network 10.55.0.128/26 mask 255.255.255.192
  neighbor 192.168.1.12 activate
  neighbor 192.168.1.12 soft-reconfiguration inbound
  neighbor 192.168.1.13 activate
  neighbor 192.168.1.13 soft-reconfiguration inbound
  neighbor 192.168.1.12 prefix-list filter-DC1-out out
  neighbor 192.168.1.13 prefix-list filter-DC1-out out
  maximum-paths 4
 exit-address-family

ip route 10.55.0.128/26 255.255.255.192 10.55.0.1
ip route 192.168.1.13 255.255.255.255 Tunnel1
ip route 192.168.1.12 255.255.255.255 Tunnel0