!route for simulated onprem vm subnet
ip route 10.101.10.0 255.255.255.0 10.101.1.1

crypto ikev2 proposal to-csr-proposal
  encryption aes-cbc-256
  integrity sha1
  group 2
  exit

!the local IP is the private IP of the outside interface. Azure will automatically NAT this outbound. Replace this with your public IP !if needed
crypto ikev2 policy to-csr-policy
  proposal to-csr-proposal
  match address local 10.101.0.4
  exit
 
#Peer IP/address is the Azure VPN gateway
crypto ikev2 keyring to-csr-keyring
  peer 52.250.82.91 
    address 52.250.82.91
    pre-shared-key Msft123Msft123
    exit
  exit

crypto ikev2 profile to-csr-profile
  match address  local 10.101.0.4
  match identity remote address 52.250.82.91 255.255.255.255
  authentication remote pre-share
  authentication local  pre-share
  lifetime 3600
  dpd 10 5 on-demand
  keyring local  to-csr-keyring
  exit

crypto ipsec transform-set to-csr-TransformSet esp-gcm 256 
  mode tunnel
  exit

crypto ipsec profile to-csr-IPsecProfile
  set transform-set  to-csr-TransformSet
  set ikev2-profile  to-csr-profile
  set security-association lifetime seconds 3600
  exit

int tunnel 11
  ip address 192.168.1.1 255.255.255.255
  tunnel mode ipsec ipv4
  ip tcp adjust-mss 1350
  tunnel source 10.101.0.4
  tunnel destination 52.250.82.91
  tunnel protection ipsec profile to-csr-IPsecProfile
  exit

# this is the route you want to send traffic to across the tunnel
ip route 10.21.0.0 255.255.0.0 Tunnel 11
